body {
  width: 100%;
  height: auto;
  background-color: rgb(183, 190, 183);
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(36, 32, 232);
}

a:hover {
  text-decoration: none;
  color: white;
}

#map {
  z-index: 3;
}

.map {
  width: 50rem;
  height: 50rem;
  border: 2px solid black;
  border-radius: 2rem;
}

.login-container {
  width: 35rem;
}

.link-container {
  text-align: center;
}

.link-buttons {
  width: 10rem;
  background-color: white;
  border: 2px solid black;
}

.home-container {
  text-align: left;
  height: auto;
}

.sale-containers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.saleBox {
  width: 15rem;
  height: 15rem;
  background-color: #000;
  color: white;
  margin-top: 1rem;
  border-radius: 2rem;
}


.form-control {
  width: 20rem;
  border: 2px solid black;
}

li {
  list-style: none;
}

.logout{
	top: 20px;
    right: 20px;
    position: fixed;
}

.profile{
	text-align: -webkit-left;
}
