body {
  width: 100%;
  height: auto;
}

#map {
  height: 400px;
  width: 100%;
}


li {
  list-style: none;
}

.logout{
	top: 20px;
    right: 20px;
    position: fixed;
} 

.profile{
	text-align: -webkit-left;
}