body {
  width: 100%;
  height: auto;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
}

.landing-page {
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
}

#welcome {
  font-size: 8rem;
}

#title {
  color: #fff;
  font-size: 4rem;
}

.login-container, .signup-container {
  height: auto;
}

.login-container {
  margin-left: 10vw;
}

.signup-container {
  margin-right: 10vw;
}

#wrongLogin {
  color: white;
}

#username {
  color: white;
}



#login {
  margin-top: .5rem;
  width: 15rem;
  font-size: 2.5rem;
  background-color: rgb(198, 86, 61);
  border: none;
}

#login:hover {
  background-color: red;
}

#enterButton {
  width: 15rem;
  font-size: 3rem;
  background-color: transparent;
  border: 1px solid white;
}

#enterButton:hover {
  color: red;
  background-color: white;
}

.form-control {
  text-align: center;
  width: 35rem;
  height: 5rem;
  font-family: sans-serif;
  border-radius: 1rem;
  font-size: 2rem;
  margin-top: .25rem;
}



a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(36, 32, 232);
}

a:hover {
  text-decoration: none;
  color: white;
}

#map {
  z-index: 3;
}

cite {
  color: white;
}

.map {
  width: 100%;
  height: 50rem;
  border: 2px solid white;
  border-radius: 2rem;
}


.link-container {
  text-align: center;
}

.link-buttons {
  width: 10rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 1px 1px 1px white;
}

#mapButton {
  width: 20rem;
  text-transform: uppercase;
  font-size: 2rem;
}

#accountButton {
  font-size: 2rem;
}

.home-container {
  text-align: left;
  height: auto;
}

.sale-containers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.saleBox {
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  color: #000;
  margin-top: 1rem;
  border-radius: 2rem;
}

#create-title {
  color: white;
  text-align: center;
}

.create-container {
  height: auto;
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
}




.user-info-container {
  color: white;
}

.stuff-title {
  color: white;
}

.add-container {
  display: flex;
  justify-content: center;
}

#addButton {
  margin-top: 2rem;
  width: 10rem;
  font-size: 2rem;

}

li {
  list-style: none;
}

.logout{
	top: 20px;
    right: 20px;
    position: fixed;
}
