body {
  width: 100%;
  height: auto;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
}

#title {
  color: #fff;
  font-size: 5rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(36, 32, 232);
}

a:hover {
  text-decoration: none;
  color: white;
}

#map {
  z-index: 3;
}

.map {
  width: 50%;
  height: 50rem;
  border: 2px solid white;
  border-radius: 2rem;
}



.login-container {
  width: 35rem;
}

.link-container {
  text-align: center;
}

.link-buttons {
  width: 10rem;
  background-color: white;
  margin: 1rem;
  box-shadow: 1px 1px 1px white;
}

#mapButton {
  width: 20rem;
  text-transform: uppercase;
  font-size: 2rem;
}

#accountButton {
  font-size: 2rem;
}

.home-container {
  text-align: left;
  height: auto;
}

.sale-containers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.saleBox {
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  color: #000;
  margin-top: 1rem;
  border-radius: 2rem;
}

#create-title {
  color: white;
  text-align: center;
}

.create-container {
  height: auto;
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
}


.form-control {
  text-align: left;
  width: 20rem;
  border: 2px solid black;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

.user-info-container {
  color: white;
}

.stuff-title {
  color: white;
}

.add-container {
  display: flex;
  justify-content: center;
}

#addButton {
  margin-top: 2rem;
  width: 10rem;
  font-size: 2rem;

}

li {
  list-style: none;
}

.logout{
	top: 20px;
    right: 20px;
    position: fixed;
}
