
<div class="container text-center">
  <h2 id="create-title">Create Sale</h2>
  <div class="form-group">
    <center><input class="form-control" id="addSale" placeholder="Title" ng-model="sale.name">
    <br>
    <!-- <input class="form-control" id="addSale" type="date" placeholder="Date" ng-model="sale.startDate">
    <br>
    <input class="form-control" id="addSale" type="date" placeholder="End Date" ng-model="sale.endDate">
    <br> -->
    <input class="form-control" id="addSale" placeholder="Address" ng-model="sale.address">
    <br>
    <input class="form-control" id="addSale" type="date" placeholder="Date" ng-model="sale.date"></center>
</div>
  <div class="add-container">
    <textarea class="form-control" placeholder="Comments" ng-model="sale.comment" rows="4" cols="10"></textarea>
  </div>
  <button class="btn btn-success" id="addButton" type="button" ng-click="postSale(sale)">{{addButton}}</button>
  <button class="btn btn-primary" id="toMap" type="button" ui-sref="map" ng-click="initMap()">To Map</button>

</div>
