
<div class="container text-center">
  <h2 id="create-title">Create Sale</h2>
    <div class="form-group">
      <center><input class="form-control" id="addSale" placeholder="Title" ng-model="sale.name">
      <br>
      <input class="form-control" id="addSale" placeholder="Address" ng-model="sale.address">
      <br>
      <input class="form-control" id="addSale" type="date" placeholder="Date" ng-model="sale.date">
      <br>
      <input class="form-control" id="addSale" type="time" placeholder="Time" ng-model="sale.time"></center>
    </div>
    <div class="add-container">
      <textarea class="form-control" placeholder="Comments" ng-model="sale.comment" rows="4" cols="10"></textarea>
    </div>
  <button class="btn btn-success" id="addButton" type="button" ng-click="postSale(sale)">{{addButton}}</button>
  <button class="btn btn-primary" id="toMap" type="button" ui-sref="map" ng-click="initMap()">To Map</button>
  <button class="btn btn-primary" id="toSales" type="button" ng-click="getMySales()">Your Sales</button>

    <center><div class="content-list" ng-repeat="sale in mySales track by $index">
      <br>
      <h4>{{sale.name}}</h4>
      <h4>{{sale.address}}</h4>
      <h4>{{sale.date | date}}</h4>
      <br>
      <button class="btn btn-primary" name="button" ng-click="">Delete</button>
    </div></center>
</div>
