<!-- extends layout

block content
  form(method='POST')
    legend Forgot Password
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email', autofocus)
    button.btn.btn-primary(type='submit') Reset Password
 -->

<form method="POST">
  <legend>Forgot Password</legend>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" autofocus="autofocus" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>