<div class="container">
<h1>Login</h1>
  <input type="text" name="name" value="">
  <input type="text" name="name" value="">
  <button id="btn" type="button" name="button">Login</button>
<h1>Sign Up</h1>
  <ul class="signupList">
    <li><input type="text" name="name" value="" placeholder="first"></li>
    <li><input type="text" name="name" value="" placeholder="last"></li>
    <li><input type="text" name="name" value="" placeholder="email"></li>
    <li><input type="text" name="name" value="" placeholder="password"></li>
  </ul>


</div>
