

<div class="container home-container" ng-controller="loginCtrl">




			<div class="form-group">
				<h2>Login</h2>

				<div class="login-container" ng-show="hideStuff">
					<div class="facebook">
						<a href="/auth/facebook" ng-click="facebooksignup()">with Facebook</a>
					</div>

				<form  ng-submit="postLogin(loginEmail, secret)">
					<br>
					<input class="form-control" type="email" ng-model="loginEmail" placeholder="Username">
					<br>
					<input class="form-control" type="password" ng-model="secret" placeholder="Password">
					<br>
					<input class="form-control" placeholder="Login" type="submit">
				</form>
			</div>


		<div class="form-group">
			<h2>Sign Up</h2>

		  <form ng-submit="postSignUp(signUpEmail, passWord)">
				<input class="form-control" type="email" ng-model="signUpEmail" placeholder="Email Address"/>
				<br>
				<input class="form-control" type="password" ng-model="passWord" placeholder="Password"/>
				<br>
			  <input class="form-control" placeholder="Sign UP" type="submit">
			</form>
		</div>




	</div>




		<div class="profilepage" ng-show="profilePage">
			<br>
			<br>
			<button class="btn" type="button" ui-sref="profile">Click to Continue to Profile Page</button>
		</div>

</div>
