<div class="">
		<h2>Login</h2>
		<form ng-submit="postLogin(loginEmail, secret)">
			<input class="form-control" type="email" ng-model="loginEmail" placeholder="Username">
			<input class="form-control" type="password" ng-model="secret" placeholder="Password">
			<button class="btn btn-warning" id="login" type="submit" name="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
		</form>
</div>

<!-- <a href="/auth/facebook" ng-click="facebooksignup()">with Facebook</a> -->

				<!-- <br>
				<div class="forgotpassword">
					<form ng-submit="forgotPassword(lostPassword)">
					<br>
					<input class="form-control" type="email" ng-model="lostPassword" placeholder="Email Reset">
					<input class="form-control" placeholder="Lost Password" type="submit">
					</form>
				</div>
			</div> -->
		<!-- <br>
		 -->

		<!-- <div class="profilepage" ng-show="profilePage">
			<br>
			<br>
			<button class="btn" type="button" ui-sref="profile">Click to Continue to Profile Page</button>
		</div> -->
