<!-- remember to put ng-init with initMap() here -->
<div class="container text-center" ng-init="initMap()">
    <br>
    <div class="text-right">
      <ul class="social-icons">
        <li class="social-links" ><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li class="social-links" ><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li class="social-links" ><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li class="social-links" ><i class="fa fa-github" aria-hidden="true"></i></li>
      </ul>
      <button class="btn btn-primary" ng-click="signOut()" id="logout" ui-sref="landingPage">Logout</button>
    </div>
    <br>
    <div class="">
      <button class="btn btn-warning" id="enterButton" ui-sref="createSale">Create Sale</button>
      <br>
    </div>
    <br>
      <div class="map" id="map">
      </div>
      <!-- <div class="content-container">
        <div class="content-list" ng-repeat="name in names track by $index">
          <h4>{{name.name}}</h4>
          <h4>{{name.date | date}}</h4>
          <h4>{{name.address}}</h4>
      </div>
    </div> -->
  </div>
</div>
