<div class="profile">

	<h1>Welcome {{profilename}}!!!</h1>
	<h2> This is your Profile Page</h2>

<div class="profileinfo"> 
	<h3 ng-hide="changer" ng-dblclick="changer=true">{{userProfile.firstName}}</h3>
	<h3 ng-hide="changer" ng-dblclick="changer=true">{{userProfile.middleName}}</h3>
	<h3 ng-hide="changer" ng-dblclick="changer=true">{{userProfile.familyName}}</h3>
<button ng-click="toggleCustom1()">Click to Update Profile</button>
	<form ng-show="custom1" ng-submit="updateUser(userProfile); changer=false">
		<li><input placeholder="First Name" type="text" ng-model="userProfile.firstName"></li>
		<li><input placeholder="Middle Name" type="text" ng-model="userProfile.middleName"></li>
		<li><input placeholder="Last Name" type="text" ng-model="userProfile.familyName"></li>
		<button type="submit">Up-Date Information</button>	
	</form>
</div>


 <button ng-click="toggleCustom()">User Guide</button>
        <div class="guide" ng-hide="custom">
            <p>List of Directions</p>
        </div>

<div class="userYardSale">
	<form ng-repeat="stuff in yardData" ng-submit="deleteSale(stuff)">
		<h3>{{stuff.name}}</hr>
	    <h3>{{stuff.startDate}}</hr>
	    <h3>{{stuff.endDate}}</hr>
	    <h3>{{stuff.address}}</hr>
	    <h3>{{stuff.date}}</hr>
	    <h3>{{stuff.comment}}</hr>
	    <button type="submit">Delete Sale</button>
	</form>
</div>



<div class="logout">
	<form ng-submit="signOut()">
		<button type="submit">Logout</button>
	</form>
</div>



<div>  